
{{#each assessments}}
    <section class = "ui segment">
<table class="ui celled table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Weight</th>
        <th>Chest</th>
        <th>Thigh</th>
        <th>Upper Arm</th>
        <th>Waist</th>
        <th>Hips</th>
        <th>Trend</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                {{date}}
            </td>
            <td>
                {{time}}
            </td>
            <td>
                {{weight}}
            </td>
            <td>
                {{chest}}
            </td>
            <td>
                {{thigh}}
            </td>
            <td>
                {{upperArm}}
            </td>
            <td>
                {{waist}}
            </td>
            <td>
                {{hips}}
            </td>
            <td>
                {{#if trend }}
                    <i class="ui green thumbs up outline icon large"></i>

                {{else}}
                    <i class="ui red thumbs down outline icon large"></i>

                {{/if}}

            </td>
            <td>
                {{comment}}
            </td>
        </tr>

    </tbody>
</table>
<form class="ui form" action="/assessment/{{../member.id}}/addcomment/{{id}}" method="POST">
    <div class="field focus small">
        <label>Comment</label>
        <textarea class= "input" rows="2" placeholder="Please enter comment" type="text" name="comment"></textarea>
    </div>
    <button class="ui blue submit button">Update</button>
</form>
    </section>
{{/each}}
